:root {
  --fg: #000;
  --bg: #FFF;
  --highlight: #7A2F00;
  --shine: var(--bg);
  --shadow: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #FFF;
    --bg: #000;
    --highlight: #D7665A;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
}

#bass {
  height: max(75dvh, 5rem);
  width: 100%;
}

@font-face {
  font-family: 'Hillentone';
  src: url('Hillentone.woff') format('woff');
}

h1 {
  font-family: 'Hillentone';
  font-size: min(30vh, 15rem, 35vw);
  text-align: center;
  margin-block: -0.75em 0.25em;
  line-height: 0.75;
  text-shadow:
    var(--shadow) var(--shadow) 0 var(--shine),
    calc(-1 * var(--shadow)) var(--shadow) 0 var(--shine),
    calc(-1 * var(--shadow)) calc(-1 * var(--shadow)) 0 var(--shine),
    var(--shadow) calc(-1 * var(--shadow)) 0 var(--shine)
  ;

  & a {
    color: var(--fg);
    text-decoration: none;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: var(--highlight);
    }
  }
}

#onewheel-eastern {
  display: block;
  height: max(85dvh, 10rem);
  width: calc(100% - 3px);
}